button {
    cursor: pointer;
    transition: 0.2s all;
    min-width: 8rem;
    font-size: 1rem;

    &:hover {
        box-shadow: 0 4px 12px #00000026;
        transform: translateY(-2px);
    }
}
