@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@keyframes substrate-button-activate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

substrate-button {
    display: inline-block;
    user-select: none;
    min-width: 8rem;

    &.substrate-loading {
        pointer-events: none;

        & button {
            color: transparent;
            transition: all 0.3s ease;
            pointer-events: none;

            &:hover {
                color: transparent;
            }

            &::after {
                content: "";
                background: transparent;
                box-sizing: border-box;
                position: absolute;
                width: 16px;
                height: 16px;
                inset: 0;
                margin: auto;
                border-radius: 50%;
                border-top: 2px solid black;
                border-right: 2px solid transparent;
                animation: spinner 0.6s linear infinite;
            }
        }
    }

     &[aria-disabled="true"] {
        user-select: none;
        background-color: transparent;

        & button {
            user-select: none;
            background-color: transparent
        }
    }
}
  
button.substrate-button {
    border: 1px solid black;
    color: var(--substrate-button-text, var(--substrate-primary, #36393d));
    width: 100%;
    font-family: var(--substrate-font, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif);
    padding: 0.5em 1em;
    position: relative;
    background-color: var(--substrate-button-background, transparent);
    appearance: none;

    &:active {
        color: var(--substrate-medium, #999da0);
        background-color: var(--substrate-button-background-disabled, #f7f7f5);
    }

    &:disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    &:not([disabled]) {
        &:active {
            animation-duration: .2s;
            animation-name: substrate-button-activate;
            transition-timing-function: ease;
        }
    }
}